body {
    background-color: black;
    /*position: fixed; 
    overflow-y: scroll;
    width: 100%;*/
}

@font-face {
  font-family: 'DistantGalaxy';
  src: url('fonts/DISTGRG_.ttf');
  src: local('DISTGRG Regular'), local('DISTGRG'), url('fonts/DISTGRG_.ttf') format('truetype');
}

h1{
    font-size:60px;
    font-family: 'DistantGalaxy';
    color: white;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'DistantGalaxy';
    font-size: 20px;
}

.zero {
   max-width: 100%;
   height:700;
  
}
.one {
   max-width: 100%;
   height:700px;
}

.two {
  width: 100%;
  height:700px;
  background-color: #cccccc;

}

.three {
    width: 100%;
    background-color: black;
    text-align:center;
    font-family:impact;
    font-style:italic;
    font-size:72px;
    color: white;
    height:700px;
}

.jsstyle {
    font-size:40px;
    color:white;
    position:absolute;
    font-family: 'DistantGalaxy';

}

#output1 {
  font-size:35px;
  color:red;
  font-family:'DistantGalaxy';
}
